<a href="https://colab.research.google.com/github/mahhnoor/data-engineering-fundamentals/blob/main/Iris-data_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd

In [16]:
file_path= '/content/IRIS.csv'

df= pd.read_csv(file_path)

print("Data Loaded Successfully! Here are the first five rows: ")
print(df.head())

Data Loaded Successfully! Here are the first five rows:
   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [17]:
print("The Shape of the Data Frame is:")
print(df.shape)

The Shape of the Data Frame is:
(150, 5)

In [18]:
print("The Size of the Data Set is:")
print(df.size)

The Size of the Data Set is:
750

In [19]:
print("The Data types of columns are: ")
print(df.info())

The Data types of columns are:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [20]:
print("These are the descriptive statistics of numerical values:")
print(df.describe())

These are the descriptive statistics of numerical values:
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [21]:
print("Check for the missing Values:")
print(df.isnull().sum())

Check for the missing Values:
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [22]:
length= df[(df['petal_length'] >= 5.5) & (df['sepal_length']> 5.5)]
print(length)

     sepal_length  sepal_width  petal_length  petal_width         species
100           6.3          3.3           6.0          2.5  Iris-virginica
102           7.1          3.0           5.9          2.1  Iris-virginica
103           6.3          2.9           5.6          1.8  Iris-virginica
104           6.5          3.0           5.8          2.2  Iris-virginica
105           7.6          3.0           6.6          2.1  Iris-virginica
107           7.3          2.9           6.3          1.8  Iris-virginica
108           6.7          2.5           5.8          1.8  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica
112           6.8          3.0           5.5          2.1  Iris-virginica
116           6.5          3.0           5.5          1.8  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
120           6.9          3.2           5.7          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
124           6.7          3.3           5.7          2.1  Iris-virginica
125           7.2          3.2           6.0          1.8  Iris-virginica
128           6.4          2.8           5.6          2.1  Iris-virginica
129           7.2          3.0           5.8          1.6  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
132           6.4          2.8           5.6          2.2  Iris-virginica
134           6.1          2.6           5.6          1.4  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
136           6.3          3.4           5.6          2.4  Iris-virginica
137           6.4          3.1           5.5          1.8  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica

In [23]:
import numpy as np

df.loc[0, 'sepal_width']= np.nan
print(df.head(2))

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          NaN           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa

In [24]:
mean_width= df['sepal_width'].mean()

df['sepal_width'].fillna(mean_width, inplace= True)
print(df.head(2))

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1     3.051007           1.4          0.2  Iris-setosa
1           4.9     3.000000           1.4          0.2  Iris-setosa

/tmp/ipython-input-3297487473.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sepal_width'].fillna(mean_width, inplace= True)

In [25]:
long_sepals= df[df['sepal_length'] > 6.0]
print(long_sepals.head())

    sepal_length  sepal_width  petal_length  petal_width          species
50           7.0          3.2           4.7          1.4  Iris-versicolor
51           6.4          3.2           4.5          1.5  Iris-versicolor
52           6.9          3.1           4.9          1.5  Iris-versicolor
54           6.5          2.8           4.6          1.5  Iris-versicolor
56           6.3          3.3           4.7          1.6  Iris-versicolor

In [38]:
import pandas as pd

Data1= {
    'species': ['setosa', 'versicolor', 'virginica', 'setosa'],
    'sepal_length': [5.1, 6.3, 7.2, 4.9]
}
df_measure= pd.DataFrame(Data1)

Data2= {
    'species': ['setosa', 'versicolor', 'virginica'],
    'code': ['SET', 'VER', 'VIR']
}
df_codes= pd.DataFrame(Data2)

print("----Data Frame 1:----")
print(df_measure)

print("\n----Data Frame 2:----")
print(df_codes)

----Data Frame 1:----
      species  sepal_length
0      setosa           5.1
1  versicolor           6.3
2   virginica           7.2
3      setosa           4.9

----Data Frame 2:----
      species code
0      setosa  SET
1  versicolor  VER
2   virginica  VIR

In [39]:
merged_df= pd.merge(df_measure, df_codes, on= 'species', how= 'inner')

print("---- Merged Data Frame ----")
print(merged_df)

---- Merged Data Frame ----
      species  sepal_length code
0      setosa           5.1  SET
1  versicolor           6.3  VER
2   virginica           7.2  VIR
3      setosa           4.9  SET

In [40]:
left_join_df= pd.merge(df_measure, df_codes, on= 'species', how= 'left')

print("---- Left Joined Data Frame ----")
print(left_join_df)

---- Left Joined Data Frame ----
      species  sepal_length code
0      setosa           5.1  SET
1  versicolor           6.3  VER
2   virginica           7.2  VIR
3      setosa           4.9  SET

In [41]:
import sqlite3

In [42]:
conn= sqlite3.connect('practice_db.sqlite')
print("Database Connection Established")

Database Connection Established

In [49]:
#Write the DataFrame 'df' to a SQL table named 'iris_data'
# index=False means don't save the Pandas row index
# if_exists='replace' means if the table already exists, overwrite it

df.to_sql('iris_data', conn, if_exists= 'replace', index='False')
print("Data Frame loaded into 'iris_data' table.")

Data Frame loaded into 'iris_data' table.

In [52]:
sql_query= """
SELECT species, AVG(sepal_length) AS avg_sepal_length
FROM 'iris_data'
GROUP BY species;
"""

results_df= pd.read_sql(sql_query, conn)

__builtins__.print("Results Extracted from SQL")
__builtins__.print(results_df)

Results Extracted from SQL
           species  avg_sepal_length
0      Iris-setosa             5.006
1  Iris-versicolor             5.936
2   Iris-virginica             6.588

In [54]:
conn.close()
__builtins__.print("Database Connection Closed")

Database Connection Closed

In [56]:
!git clone https://github.com/mahhnoor/data-engineering-fundamentals.git

Cloning into 'data-engineering-fundamentals'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (3/3), done.

In [60]:
%cd data-engineering-fundamentals

/content/data-engineering-fundamentals